/* Start Footer Section */
.site-footer {
    padding: 56px 0;
    background-color: var(--Grayish-Dark-Blue);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include list-unstyle;
    margin: 40px 0;
}

.footer__item:not(:last-child) {
    margin-bottom: 32px;
}

.footer__link {
    @include link-unstyle;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer__icon-list {
    display: flex;
    align-items: center;
    @include list-unstyle
}

.footer__icon-item:not(:last-child) {
    margin-right: 16px;
}

.footer__icon-link {
    display: inline-block;
}

@media only screen and (min-width:768px) {
    #site-footer {
        padding: 24px 0;
    }
    
    .footer {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
    }
    
    .footer__list {
        flex-direction: row;
        margin: 0 auto 0 48px;
    }
    
    .footer__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 42px;
    }
}

/* End of Footer Section */